# This is a comment.
# Each line is a file pattern followed by one or more owners.

.*              @org-poc/platform
*.tfvars     @org-poc/reviewer
**/iam          @org-poc/sec-eng
**/armor.yaml   @org-poc/sec-eng
*Jenkinsfile    @org-poc/platform




